In [1]:
import pandas as pd
import requests
import json
import numpy as np
from pandas import json_normalize

In [2]:
censo_2022 = pd.read_csv('./Microdados do Censo Escolar da Educação Básica 2022/dados/microdados_ed_basica_2022.csv', sep=';',  encoding='latin-1')

C:\Users\rivaldoj\AppData\Local\Temp\ipykernel_17024\3456146845.py:1: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  censo_2022 = pd.read_csv('./Microdados do Censo Escolar da Educação Básica 2022/dados/microdados_ed_basica_2022.csv', sep=';',  encoding='latin-1')

In [3]:
censo_2022.head()

,NU_ANO_CENSO,NO_REGIAO,CO_REGIAO,NO_UF,SG_UF,CO_UF,NO_MUNICIPIO,CO_MUNICIPIO,NO_MESORREGIAO,CO_MESORREGIAO,...,QT_TUR_FUND_AF,QT_TUR_MED,QT_TUR_PROF,QT_TUR_PROF_TEC,QT_TUR_EJA,QT_TUR_EJA_FUND,QT_TUR_EJA_MED,QT_TUR_ESP,QT_TUR_ESP_CC,QT_TUR_ESP_CE
0,2022,Norte,1,Rondônia,RO,11,Alta Floresta D'Oeste,1100015,Leste Rondoniense,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2022,Norte,1,Rondônia,RO,11,Alta Floresta D'Oeste,1100015,Leste Rondoniense,2,...,0.0,0.0,0.0,0.0,10.0,6.0,4.0,3.0,3.0,0.0
2,2022,Norte,1,Rondônia,RO,11,Alta Floresta D'Oeste,1100015,Leste Rondoniense,2,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2022,Norte,1,Rondônia,RO,11,Alta Floresta D'Oeste,1100015,Leste Rondoniense,2,...,6.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
4,2022,Norte,1,Rondônia,RO,11,Alta Floresta D'Oeste,1100015,Leste Rondoniense,2,...,5.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,3.0,0.0

In [4]:
censo_2022.shape

(224649, 385)

In [5]:
censo_2022.dtypes

NU_ANO_CENSO         int64
NO_REGIAO           object
CO_REGIAO            int64
NO_UF               object
SG_UF               object
                    ...
QT_TUR_EJA_FUND    float64
QT_TUR_EJA_MED     float64
QT_TUR_ESP         float64
QT_TUR_ESP_CC      float64
QT_TUR_ESP_CE      float64
Length: 385, dtype: object

In [6]:
censo_2022.loc[censo_2022['SG_UF'] == 'PB']

,NU_ANO_CENSO,NO_REGIAO,CO_REGIAO,NO_UF,SG_UF,CO_UF,NO_MUNICIPIO,CO_MUNICIPIO,NO_MESORREGIAO,CO_MESORREGIAO,...,QT_TUR_FUND_AF,QT_TUR_MED,QT_TUR_PROF,QT_TUR_PROF_TEC,QT_TUR_EJA,QT_TUR_EJA_FUND,QT_TUR_EJA_MED,QT_TUR_ESP,QT_TUR_ESP_CC,QT_TUR_ESP_CE
62080,2022,Nordeste,2,Paraíba,PB,25,Água Branca,2500106,Sertão Paraibano,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,10.0,0.0
62081,2022,Nordeste,2,Paraíba,PB,25,Água Branca,2500106,Sertão Paraibano,1,...,1.0,11.0,0.0,0.0,4.0,0.0,4.0,5.0,5.0,0.0
62082,2022,Nordeste,2,Paraíba,PB,25,Água Branca,2500106,Sertão Paraibano,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62083,2022,Nordeste,2,Paraíba,PB,25,Água Branca,2500106,Sertão Paraibano,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62084,2022,Nordeste,2,Paraíba,PB,25,Água Branca,2500106,Sertão Paraibano,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68036,2022,Nordeste,2,Paraíba,PB,25,Vieirópolis,2517209,Sertão Paraibano,1,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
68037,2022,Nordeste,2,Paraíba,PB,25,Vieirópolis,2517209,Sertão Paraibano,1,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,0.0
68038,2022,Nordeste,2,Paraíba,PB,25,Zabelê,2517407,Borborema,2,...,0.0,3.0,0.0,0.0,2.0,0.0,2.0,1.0,1.0,0.0
68039,2022,Nordeste,2,Paraíba,PB,25,Zabelê,2517407,Borborema,2,...,8.0,0.0,0.0,0.0,4.0,4.0,0.0,13.0,13.0,0.0
68040,2022,Nordeste,2,Paraíba,PB,25,Zabelê,2517407,Borborema,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
censo_2022_pb_estadual = censo_2022.loc[(censo_2022['SG_UF'] == 'PB') & (censo_2022['TP_DEPENDENCIA'] == 2) & (censo_2022['TP_SITUACAO_FUNCIONAMENTO'] == 1)]

In [20]:
censo_2022_pb_estadual.shape

(644, 385)

In [22]:
censo_2022_pb_estadual.head()

,NU_ANO_CENSO,NO_REGIAO,CO_REGIAO,NO_UF,SG_UF,CO_UF,NO_MUNICIPIO,CO_MUNICIPIO,NO_MESORREGIAO,CO_MESORREGIAO,...,QT_TUR_FUND_AF,QT_TUR_MED,QT_TUR_PROF,QT_TUR_PROF_TEC,QT_TUR_EJA,QT_TUR_EJA_FUND,QT_TUR_EJA_MED,QT_TUR_ESP,QT_TUR_ESP_CC,QT_TUR_ESP_CE
62081,2022,Nordeste,2,Paraíba,PB,25,Água Branca,2500106,Sertão Paraibano,1,...,1.0,11.0,0.0,0.0,4.0,0.0,4.0,5.0,5.0,0.0
62103,2022,Nordeste,2,Paraíba,PB,25,Aguiar,2500205,Sertão Paraibano,1,...,4.0,5.0,0.0,0.0,4.0,2.0,2.0,10.0,10.0,0.0
62119,2022,Nordeste,2,Paraíba,PB,25,Alagoa Grande,2500304,Agreste Paraibano,3,...,10.0,23.0,0.0,0.0,3.0,0.0,3.0,6.0,6.0,0.0
62121,2022,Nordeste,2,Paraíba,PB,25,Alagoa Grande,2500304,Agreste Paraibano,3,...,12.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,0.0
62124,2022,Nordeste,2,Paraíba,PB,25,Alagoa Grande,2500304,Agreste Paraibano,3,...,0.0,6.0,6.0,6.0,0.0,0.0,0.0,2.0,2.0,0.0

In [23]:
censo_2022_pb_estadual.head(1)

,NU_ANO_CENSO,NO_REGIAO,CO_REGIAO,NO_UF,SG_UF,CO_UF,NO_MUNICIPIO,CO_MUNICIPIO,NO_MESORREGIAO,CO_MESORREGIAO,...,QT_TUR_FUND_AF,QT_TUR_MED,QT_TUR_PROF,QT_TUR_PROF_TEC,QT_TUR_EJA,QT_TUR_EJA_FUND,QT_TUR_EJA_MED,QT_TUR_ESP,QT_TUR_ESP_CC,QT_TUR_ESP_CE
62081,2022,Nordeste,2,Paraíba,PB,25,Água Branca,2500106,Sertão Paraibano,1,...,1.0,11.0,0.0,0.0,4.0,0.0,4.0,5.0,5.0,0.0

In [24]:
censo_2022_pb_estadual['NO_MESORREGIAO'].value_counts( ascending=True)

NO_MESORREGIAO
Borborema             64
Agreste Paraibano    184
Sertão Paraibano     186
Mata Paraibana       210
Name: count, dtype: int64

In [27]:
censo_2022_pb_estadual_conectividade = censo_2022_pb_estadual[['IN_INTERNET', 'IN_INTERNET_ALUNOS', 'IN_INTERNET_ADMINISTRATIVO', 'IN_INTERNET_APRENDIZAGEM', 'IN_INTERNET_COMUNIDADE', 'IN_ACESSO_INTERNET_COMPUTADOR', 'IN_ACES_INTERNET_DISP_PESSOAIS', 'TP_REDE_LOCAL', 'IN_BANDA_LARGA']]
censo_2022_pb_estadual_conectividade.reset_index(inplace=True, drop=True)
censo_2022_pb_estadual_conectividade.head()

,IN_INTERNET,IN_INTERNET_ALUNOS,IN_INTERNET_ADMINISTRATIVO,IN_INTERNET_APRENDIZAGEM,IN_INTERNET_COMUNIDADE,IN_ACESSO_INTERNET_COMPUTADOR,IN_ACES_INTERNET_DISP_PESSOAIS,TP_REDE_LOCAL,IN_BANDA_LARGA
0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0
1,1.0,1.0,1.0,0.0,0.0,9.0,9.0,2.0,0.0
2,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0
3,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0
4,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0

In [28]:
censo_2022_pb_estadual_conectividade = censo_2022_pb_estadual_conectividade.rename({'IN_INTERNET':'acesso_internet', 'IN_INTERNET_ALUNOS':'interntet_para_uso_dos_alunos', 'IN_INTERNET_ADMINISTRATIVO':'internet_para_uso_administrativo', 'IN_INTERNET_APRENDIZAGEM': 'internet_para_aprendizagem', 'IN_INTERNET_COMUNIDADE':'internet_para_uso_da_comunidade', 'IN_ACESSO_INTERNET_COMPUTADOR':'alunos possuem_tablet_computadores_na_escola', 'IN_ACES_INTERNET_DISP_PESSOAIS':'acesso a internet_disponivel_para_disposit', 'TP_REDE_LOCAL':'tipo_rede_local', 'IN_BANDA_LARGA':'possui_internet_banda_larga'}, axis='columns' )

In [13]:
censo_2022_pb_estadual_conectividade.head()

,acesso_internet,interntet_para_uso_dos_alunos,internet_para_uso_administrativo,internet_para_aprendizagem,internet_para_uso_da_comunidade,alunos possuem_tablet_computadores_na_escola,acesso a internet_disponivel_para_disposit,tipo_rede_local,possui_internet_banda_larga
0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,1.0,1.0,0.0,0.0,9.0,9.0,2.0,0.0
3,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
censo_2022_pb_estadual_conectividade['acesso_internet'].value_counts(ascending=True)

acesso_internet
0.0     23
1.0    621
Name: count, dtype: int64

In [30]:
print(f'Percentual das escolas que possuem acesso a internet(Censo de 2022) {censo_2022_pb_estadual_conectividade["acesso_internet"].value_counts(ascending=True, normalize=True)[1].round(4)*100}%')

Percentual das escolas que possuem acesso a internet(Censo de 2022) 96.43%

In [31]:
print(f'Percentual das escolas que possuem acesso do tipo banda larga(Censo de 2022) {censo_2022_pb_estadual_conectividade["possui_internet_banda_larga"].value_counts(ascending=True, normalize=True)[1].round(4)*100}%')

Percentual das escolas que possuem acesso do tipo banda larga(Censo de 2022) 97.75%

In [32]:
censo_2022_pb_estadual_conectividade['tipo_rede_local'].value_counts(ascending=True)

tipo_rede_local
9.0      6
3.0     31
2.0     61
1.0    116
0.0    430
Name: count, dtype: int64